<header>
  <h1>Welcome to {{title}}</h1>
  <nav>
    <ul class="nav-links"></ul>
    <li><a href="#signup">Homepage</a></li>
    <li><a href="/views/all.handlebars">Dashboard</a></li>
    <li><a href="#">New post</a></li>
    <li><a href="#">All posts</a></li>
  </nav>
</header>