<header>
    <h1>Welcome to {{title}}</h1>
    <img class="logo" src="/public/images/The-code-blog-small.png" alt="logo">
<nav>
    <ul class="nav-links"></ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Dashboard</a></li>
</nav>
</header>