<header>
  <h1>Welcome to {{title}}</h1>
  <nav class="nav-links">
    <ul>    
    <li class="li-inline nav-item"><a href="/">Home</a></li>
    <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
    <li class="li-inline nav-item"><a href="/login">Login</a></li>
    <li class="li-inline nav-item"><a href="/signup" id="signup-link">Signup</a></li>
    <li class="li-inline nav-item"><a href="/logout" id="logout-link">Logout</a></li>
    </ul>
    {{!-- <li><a href="#">New post</a></li> --}}
  </nav>
</header>