<main class="landing-page">
  {{#if email}}
    <h1>Thanks for joining us, {{email}}!</h1>
  {{else}}

    {{#if loggedIn}}
      <h1>Welcome back, {{email}}!</h1>
      <button id="logout" class="btn logout">Logout</button>
    {{else}}

      <br />
      <br />

      <script src="/js/login.js"></script>
      <script src="/js/logout.js"></script>
      <script src="/js/signup.js"></script>
    {{/if}}
  {{/if}}
</main>

<footer class="footer">
  <p align="center">The Code Blog, 2023</p>
</footer>