<main class="landing-page">
  {{#if email}}
    <h1>Thanks for joining us, {{email}}!</h1>
  {{else}}

    {{#if loggedIn}}
      <h1>Welcome back, {{email}}!</h1>
      <button id="logout" class="btn logout">Logout</button>
    {{else}}

      
      <br />
      <br />

      <form action="signup-form">
        <h3>New? Sign Up!</h3>
        <div>
          <input
            id="email-signUpId"
            type="email"
            name="emailInput"
            placeholder="youremail@emailaddress.com"
          />
          <input
            id="username-signUpId"
            type="username"
            name="usernameInput"
            placeholder="youremail@emailaddress.com"
          />
          <input
            id="password-signUpId"
            type="password"
            name="passwordInput"
            placeholder="your password"
          />

          <button class="btn" id="signUpBtn" type="submit">Submit!</button>
        </div>
      </form>

      <script src="/js/login.js"></script>
      <script src="/js/logout.js"></script>

      {{!-- Is this needed? --}}
      <script src="/js/signup.js"></script>
    {{/if}}
  {{/if}}
</main>