<main>
  <div>
    <form class="login-form">
      <h3>User Login</h3>
      <div class="email-login">
        <input
          id="email-loginId"
          type="email"
          name="emailInput"
          placeholder="youremail@emailaddress.com"
        />
        <input
          id="password-loginId"
          type="password"
          name="passwordInput"
          placeholder="your password"
        />

        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <script src="/js/login.js"></script>
</main>