<main>
  <div class="modal-content">
  
    <form class="addPost-form" id="addPost-formId">

    <div class="row">
      <h3 class="col s12">Add New Post</h3>
      <div class="parent">
        <input class="input" id="post-name" type="name" name="post-name" placeholder="What's your post titled?">
        <input class="input" id="description" type="text" name="description" placeholder="What's on your mind?">
        <button id="addToDashboard" class="btn" type="submit">Add to your addToDashboard!</button>
        </div>
    </div>
  </form>
  </div>
</main>
{{!-- <script src="/js/add-post.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script> --}}