<main>
  <div>
    <form class="email-form">
      <h3>New? Sign Up!</h3>
      <div class="email-signup">
        <input
          id="username-signUpId"
          type="username"
          name="usernameInput"
          placeholder="create a username"
        />
        <input
          id="email-signUpId"
          type="email"
          name="emailInput"
          placeholder="youremail@emailaddress.com"
        />
        <input
          id="password-signUpId"
          type="password"
          name="passwordInput"
          placeholder="your password"
        />

        <button class="btn" id="signUpBtn" type="submit">Submit!</button>
      </div>
    </form>
  </div>
  <script src="/js/signup.js"></script>
</main>