@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1 {
    margin-right: auto;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: 	#221f20;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}