<main>
  <div>
    <form class="logout-form">
      <h3>Sad to see you go!</h3>
      <div id="logout">
        <button type="submit" id="logout-button">Logout</button>
      </div>
    </form>
  </div>
  <script src="/js/logout.js"></script>
</main>